DATABASE_URL=
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=30d
QPAY_USERNAME=
QPAY_PASSWORD=
QPAY_INVOICE_CODE=
API_BASE_URL=http://localhost:3000
PORT=3000
