--
-- PostgreSQL database dump
--

\restrict Xe1H5jI95pbgkPLSVbQXFX4R2FzSpCgArQen2Eev7VKwUQFgoB4W0sABj5naiVN

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AdminRole; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."AdminRole" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'OPERATOR'
);


ALTER TYPE public."AdminRole" OWNER TO gold_user;

--
-- Name: ChatSenderType; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."ChatSenderType" AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public."ChatSenderType" OWNER TO gold_user;

--
-- Name: ChatThreadStatus; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."ChatThreadStatus" AS ENUM (
    'OPEN',
    'CLOSED'
);


ALTER TYPE public."ChatThreadStatus" OWNER TO gold_user;

--
-- Name: KycStatus; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."KycStatus" AS ENUM (
    'PENDING',
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE public."KycStatus" OWNER TO gold_user;

--
-- Name: MembershipLevel; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."MembershipLevel" AS ENUM (
    'NORMAL',
    'BRONZE',
    'SILVER',
    'GOLD'
);


ALTER TYPE public."MembershipLevel" OWNER TO gold_user;

--
-- Name: NewsStatus; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."NewsStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'ARCHIVED'
);


ALTER TYPE public."NewsStatus" OWNER TO gold_user;

--
-- Name: PurchaseStatus; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."PurchaseStatus" AS ENUM (
    'PENDING',
    'CONTRACT_SIGNED',
    'PAYMENT_PENDING',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."PurchaseStatus" OWNER TO gold_user;

--
-- Name: QpayStatus; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."QpayStatus" AS ENUM (
    'PENDING',
    'PAID',
    'FAILED',
    'EXPIRED'
);


ALTER TYPE public."QpayStatus" OWNER TO gold_user;

--
-- Name: SellRequestStatus; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."SellRequestStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."SellRequestStatus" OWNER TO gold_user;

--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."TransactionType" AS ENUM (
    'PURCHASE',
    'SELL_DEDUCT',
    'ADMIN_ADJUST'
);


ALTER TYPE public."TransactionType" OWNER TO gold_user;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: gold_user
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'SUSPENDED',
    'DELETED'
);


ALTER TYPE public."UserStatus" OWNER TO gold_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ActivityLog; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."ActivityLog" (
    id text NOT NULL,
    "userId" text,
    "adminId" text,
    action text NOT NULL,
    entity text,
    "entityId" text,
    "ipAddress" text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ActivityLog" OWNER TO gold_user;

--
-- Name: AdminUser; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."AdminUser" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text NOT NULL,
    role public."AdminRole" DEFAULT 'OPERATOR'::public."AdminRole" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AdminUser" OWNER TO gold_user;

--
-- Name: AppSetting; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."AppSetting" (
    key text NOT NULL,
    value jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AppSetting" OWNER TO gold_user;

--
-- Name: ChatMessage; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."ChatMessage" (
    id text NOT NULL,
    "userId" text NOT NULL,
    message text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "senderType" public."ChatSenderType" DEFAULT 'USER'::public."ChatSenderType" NOT NULL,
    "adminId" text
);


ALTER TABLE public."ChatMessage" OWNER TO gold_user;

--
-- Name: ChatThread; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."ChatThread" (
    id text NOT NULL,
    "userId" text NOT NULL,
    status public."ChatThreadStatus" DEFAULT 'OPEN'::public."ChatThreadStatus" NOT NULL,
    "adminLastReadAt" timestamp(3) without time zone,
    "lastMessageAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastMessageText" text,
    "unreadByAdmin" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ChatThread" OWNER TO gold_user;

--
-- Name: GoldPrice; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."GoldPrice" (
    id text NOT NULL,
    "pricePerGram" numeric(15,2) NOT NULL,
    source text DEFAULT 'MANUAL'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "mongolBankPrice" numeric(15,2) NOT NULL,
    "buyPrice" numeric(15,2) NOT NULL,
    "sellPrice" numeric(15,2) NOT NULL,
    "changePercent" numeric(8,4),
    note text,
    "adminId" text
);


ALTER TABLE public."GoldPrice" OWNER TO gold_user;

--
-- Name: MembershipConfig; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."MembershipConfig" (
    id text NOT NULL,
    level public."MembershipLevel" NOT NULL,
    "minGrams" numeric(10,4) NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MembershipConfig" OWNER TO gold_user;

--
-- Name: News; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."News" (
    id text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    "imageUrls" text[],
    "isPublished" boolean DEFAULT false NOT NULL,
    "publishedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    summary text,
    status public."NewsStatus" DEFAULT 'DRAFT'::public."NewsStatus" NOT NULL,
    tags text[] DEFAULT ARRAY[]::text[] NOT NULL,
    slug text,
    "metaTitle" text,
    "metaDescription" text,
    "adminId" text,
    "coverImageUrl" text
);


ALTER TABLE public."News" OWNER TO gold_user;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO gold_user;

--
-- Name: Purchase; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."Purchase" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "amountGrams" numeric(10,4) NOT NULL,
    "pricePerGram" numeric(15,2) NOT NULL,
    "totalAmountMnt" numeric(15,2) NOT NULL,
    status public."PurchaseStatus" DEFAULT 'PENDING'::public."PurchaseStatus" NOT NULL,
    "contractPdfUrl" text,
    "contractQrCode" text,
    "qpayInvoiceId" text,
    "qpayStatus" public."QpayStatus" DEFAULT 'PENDING'::public."QpayStatus" NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "orderNo" text
);


ALTER TABLE public."Purchase" OWNER TO gold_user;

--
-- Name: RefreshToken; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."RefreshToken" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RefreshToken" OWNER TO gold_user;

--
-- Name: SellRequest; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."SellRequest" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "amountGrams" numeric(10,4) NOT NULL,
    status public."SellRequestStatus" DEFAULT 'PENDING'::public."SellRequestStatus" NOT NULL,
    "adminNote" text,
    "processedBy" text,
    "approvedAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "requestNo" text,
    "pricePerGram" numeric(15,2),
    "totalAmountMnt" numeric(15,2)
);


ALTER TABLE public."SellRequest" OWNER TO gold_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "phoneNumber" text NOT NULL,
    "passwordHash" text NOT NULL,
    "firstName" text,
    "lastName" text,
    "registerNumber" text,
    "kycStatus" public."KycStatus" DEFAULT 'PENDING'::public."KycStatus" NOT NULL,
    "signatureImageUrl" text,
    "membershipLevel" public."MembershipLevel" DEFAULT 'NORMAL'::public."MembershipLevel" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "isChatBanned" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "expoPushToken" text
);


ALTER TABLE public."User" OWNER TO gold_user;

--
-- Name: Wallet; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."Wallet" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "balanceGrams" numeric(10,4) DEFAULT 0 NOT NULL,
    "totalPurchasedGrams" numeric(10,4) DEFAULT 0 NOT NULL,
    "totalSoldGrams" numeric(10,4) DEFAULT 0 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Wallet" OWNER TO gold_user;

--
-- Name: WalletTransaction; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public."WalletTransaction" (
    id text NOT NULL,
    "walletId" text NOT NULL,
    "userId" text NOT NULL,
    type public."TransactionType" NOT NULL,
    "amountGrams" numeric(10,4) NOT NULL,
    "balanceBefore" numeric(10,4) NOT NULL,
    "balanceAfter" numeric(10,4) NOT NULL,
    "referenceId" text,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."WalletTransaction" OWNER TO gold_user;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: gold_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO gold_user;

--
-- Data for Name: ActivityLog; Type: TABLE DATA; Schema: public; Owner: gold_user
--

COPY public."ActivityLog" (id, "userId", "adminId", action, entity, "entityId", "ipAddress", metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: AdminUser; Type: TABLE DATA; Schema: public; Owner: gold_user
--

COPY public."AdminUser" (id, email, "passwordHash", name, role, status, "createdAt", "updatedAt") FROM stdin;
86e3234b-4943-4ee4-87f7-c6b1bfc566e2	admin@goldapp.mn	$2b$12$Fx/gIp2qslDthLxP868xiu6ZNCVsXYuo./KKg001imZGsUAgynmey	Super Admin	SUPER_ADMIN	ACTIVE	2026-05-30 16:33:41.502	2026-05-30 16:33:41.502
\.


--
-- Data for Name: AppSetting; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Data for Name: ChatMessage; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Data for Name: ChatThread; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Data for Name: GoldPrice; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Data for Name: MembershipConfig; Type: TABLE DATA; Schema: public; Owner: gold_user
--

COPY public."MembershipConfig" (id, level, "minGrams", "updatedAt") FROM stdin;
b3198a12-305c-4623-8f52-5674e0b325ab	NORMAL	0.0000	2026-05-30 16:06:32.894
7d00fd62-e041-470e-bdfe-cec229690c8f	BRONZE	10.0000	2026-05-30 16:06:32.905
004f801a-4608-47a8-85cc-7c1bc62b2ea4	SILVER	50.0000	2026-05-30 16:06:32.913
2e849872-f67e-4aaa-abab-91540537cefd	GOLD	100.0000	2026-05-30 16:06:32.931
\.


--
-- Data for Name: News; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: gold_user
--

COPY public."Notification" (id, "userId", title, body, "isRead", "createdAt") FROM stdin;
\.


--
-- Data for Name: Purchase; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Data for Name: RefreshToken; Type: TABLE DATA; Schema: public; Owner: gold_user
--

COPY public."RefreshToken" (id, "userId", "expiresAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: SellRequest; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Data for Name: Wallet; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Data for Name: WalletTransaction; Type: TABLE DATA; Schema: public; Owner: gold_user
--

COPY public."WalletTransaction" (id, "walletId", "userId", type, "amountGrams", "balanceBefore", "balanceAfter", "referenceId", note, "createdAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: gold_user
--



--
-- Name: ActivityLog ActivityLog_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_pkey" PRIMARY KEY (id);


--
-- Name: AdminUser AdminUser_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."AdminUser"
    ADD CONSTRAINT "AdminUser_pkey" PRIMARY KEY (id);


--
-- Name: AppSetting AppSetting_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."AppSetting"
    ADD CONSTRAINT "AppSetting_pkey" PRIMARY KEY (key);


--
-- Name: ChatMessage ChatMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."ChatMessage"
    ADD CONSTRAINT "ChatMessage_pkey" PRIMARY KEY (id);


--
-- Name: ChatThread ChatThread_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."ChatThread"
    ADD CONSTRAINT "ChatThread_pkey" PRIMARY KEY (id);


--
-- Name: GoldPrice GoldPrice_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."GoldPrice"
    ADD CONSTRAINT "GoldPrice_pkey" PRIMARY KEY (id);


--
-- Name: MembershipConfig MembershipConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."MembershipConfig"
    ADD CONSTRAINT "MembershipConfig_pkey" PRIMARY KEY (id);


--
-- Name: News News_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."News"
    ADD CONSTRAINT "News_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Purchase Purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_pkey" PRIMARY KEY (id);


--
-- Name: RefreshToken RefreshToken_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_pkey" PRIMARY KEY (id);


--
-- Name: SellRequest SellRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."SellRequest"
    ADD CONSTRAINT "SellRequest_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WalletTransaction WalletTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."WalletTransaction"
    ADD CONSTRAINT "WalletTransaction_pkey" PRIMARY KEY (id);


--
-- Name: Wallet Wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."Wallet"
    ADD CONSTRAINT "Wallet_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AdminUser_email_key; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE UNIQUE INDEX "AdminUser_email_key" ON public."AdminUser" USING btree (email);


--
-- Name: ChatThread_userId_key; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE UNIQUE INDEX "ChatThread_userId_key" ON public."ChatThread" USING btree ("userId");


--
-- Name: MembershipConfig_level_key; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE UNIQUE INDEX "MembershipConfig_level_key" ON public."MembershipConfig" USING btree (level);


--
-- Name: News_slug_key; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE UNIQUE INDEX "News_slug_key" ON public."News" USING btree (slug);


--
-- Name: Purchase_orderNo_key; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE UNIQUE INDEX "Purchase_orderNo_key" ON public."Purchase" USING btree ("orderNo");


--
-- Name: RefreshToken_userId_idx; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE INDEX "RefreshToken_userId_idx" ON public."RefreshToken" USING btree ("userId");


--
-- Name: SellRequest_requestNo_key; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE UNIQUE INDEX "SellRequest_requestNo_key" ON public."SellRequest" USING btree ("requestNo");


--
-- Name: User_phoneNumber_key; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE UNIQUE INDEX "User_phoneNumber_key" ON public."User" USING btree ("phoneNumber");


--
-- Name: User_registerNumber_key; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE UNIQUE INDEX "User_registerNumber_key" ON public."User" USING btree ("registerNumber");


--
-- Name: Wallet_userId_key; Type: INDEX; Schema: public; Owner: gold_user
--

CREATE UNIQUE INDEX "Wallet_userId_key" ON public."Wallet" USING btree ("userId");


--
-- Name: ChatMessage ChatMessage_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."ChatMessage"
    ADD CONSTRAINT "ChatMessage_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ChatThread ChatThread_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."ChatThread"
    ADD CONSTRAINT "ChatThread_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GoldPrice GoldPrice_adminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."GoldPrice"
    ADD CONSTRAINT "GoldPrice_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES public."AdminUser"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: News News_adminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."News"
    ADD CONSTRAINT "News_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES public."AdminUser"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Purchase Purchase_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RefreshToken RefreshToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SellRequest SellRequest_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."SellRequest"
    ADD CONSTRAINT "SellRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: WalletTransaction WalletTransaction_walletId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."WalletTransaction"
    ADD CONSTRAINT "WalletTransaction_walletId_fkey" FOREIGN KEY ("walletId") REFERENCES public."Wallet"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Wallet Wallet_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gold_user
--

ALTER TABLE ONLY public."Wallet"
    ADD CONSTRAINT "Wallet_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict Xe1H5jI95pbgkPLSVbQXFX4R2FzSpCgArQen2Eev7VKwUQFgoB4W0sABj5naiVN

